@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

html, body {
    background: #f4f4f4;
}

.inputContainer {
    margin: 0 0;
    padding: 4rem 4rem;
}

.downloadButtonContainer {
    text-align: center;
}

.field.has-addons {
    margin-bottom: 0
}

.headerText {
    font-family: 'Open Sans', sans-serif;
    font-size: 4.8em;
    font-weight: 300;
    letter-spacing: 0;
    color: #555555;
}

.hero.is-medium .hero-body {
    padding-bottom: 8rem;
    padding-top: 8rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8em;
    padding: 0 15%;
    background: none;
}

.footerContent {
    border-top: 1px solid #e0e0e0;
    line-height: 6em;
    font-family: 'Open Sans';
    color: #555555
}

.footerLink {
    color: #555555;
}

.footerLink:hover {
    text-decoration: underline;
    color: #888888;
}